@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .logIn {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .splash {
        @include FlexCenter;
        width: inherit;
        height: inherit;
        h1 {
          text-align: center;
        }
      }

      fieldset {
        button {
          margin-top: 20px;
        }
      }

      .container {
        flex: 1;
        padding: 24px 24px 40px;
      }

      .more {
        display: flex;
        justify-content: center;
        margin: 10px 0 0 10px;
      }
      .goToSignUp {
        width: 140px;
        height: 25px;
        @include FlexCenter;
        border-right: 2px solid $grayscale-4;
        cursor: pointer;

        button {
          all: unset;
        }
      }
      .findPassword {
        width: 140px;
        height: 25px;
        @include FlexCenter;

        button {
          all: unset;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
