@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .textArea {
      textarea {
        width: 100%;
        height: 75vh;
        padding: 16px;
        border-radius: 5px;
        border: 2px solid $grayscale-4;
        background-color: $grayscale-6;
        color: $grayscale-1;
        resize: none;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
