@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .textWrite {
      display: flex;
      flex-direction: column;
      width: 100%;

      .container {
        flex: 1;
        padding: 40px 24px 40px 24px;

        .myWriteSection {
          width: 100%;
          height: 65vh;
          display: flex;
          align-items: flex-start;
          padding-bottom: 32px;
          border-bottom: 1px $grayscale-4 solid;
          background-color: pink;
        }

        .nameAndWriteSection {
          width: 100%;
        }

        .pic {
          width: 48px;
          height: 48px;
          display: inline-block;
          border-radius: 48px;
          margin-right: 24px;
        }

        .nickname {
          margin: 5px 0 10px 0;
          font-weight: 700;
          color: $grayscale-1;
          font-size: 20px;
        }

        .btnBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 24px;
        }
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
