@charset "utf-8";
@import '../../styles/partials/theme.scss', '../../styles/partials/mixin.scss';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    .header {
      @include ThemeTransition;
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 56px;
      padding: 8px 0;
      background-color: $grayscale-6;
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
