@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .textEdit {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      padding: 40px 24px 40px 24px;
      .splash {
        // flex: 1;
        width: 100%;
        height: 100%;

        display: flex;
      }

      // .container {
      //   flex: 1;
      //   display: flex;
      //   background-color: pink;
      //   padding: 40px 24px 40px 24px;
      // }

      .picBox {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        margin-right: 24px;
        border: 1px solid $grayscale-4;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .nickname {
        font-weight: 700;
        color: $grayscale-1;
        font-size: 20px;
        padding: 2px 0 2px 0;
      }

      .nameAndWriting {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 8px;
      }

      textarea {
        flex: 1;
      }

      .btnBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $grayscale-4;
        padding-top: 24px;
        margin-top: 32px;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
