@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .signUpClear {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .splash {
        @include FlexCenter;
        width: inherit;
        height: inherit;
        h1 {
          text-align: center;
        }

        h2 {
          font-weight: 700;
          font-size: 25px;
          text-align: center;
          margin: 10px 0 10px 0;
        }

        h3 {
          margin: 10px 0 10px 0;
          text-align: center;
        }
      }
      .backBtn {
        margin: 15px 0 15px 0;
      }

      .checkBtn {
        margin-bottom: 20px;
      }

      .container {
        flex: 1;
        padding: 24px 24px 24px 24px;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
