@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .signUpClear {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      .splash {
        @include FlexCenter;
        flex-direction: column;
        width: inherit;
        height: inherit;

        .imgBox {
          text-align: center;
        }

        h1 {
          font-size: 24px;
          font-weight: 800;
          margin-top: 40px;
        }

        .nowLogIn {
          font-weight: 400;
          font-size: 20px;
          margin-top: 16px;
        }

        img {
          width: 136px;
        }

        h3 {
          margin: 10px 0 10px 0;
          text-align: center;
        }
      }
      .back-btn {
        margin-top: 32px;
      }

      .checkBtn {
        margin-bottom: 16px;
      }

      .container {
        flex: 1;
        padding: 24px 24px 24px 24px;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
