@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-transition: background-color 9999s ease-out;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

    .infoBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px 0 5px 0;

      .infoFirst {
        font-weight: 700;
        font-size: 15px;
      }

      .infoSecond {
        font-size: 12px;
      }

      .red {
        color: $red;
      }

      .grey {
        color: $grayscale-3;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
