@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .signUp {
      display: flex;
      flex-direction: column;
      width: 100%;

      .back-btn {
        margin-top: 32px;
      }

      fieldset {
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 24px 24px 40px;
        h1 {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 800;
          color: $grayscale-1;
        }

        .emailInput {
          margin-top: 8px;
        }

        .passwordInput {
          margin-top: 8px;
        }

        .passwordAgainCheck {
          margin-top: 8px;
        }
      }

      form {
        margin-top: 24px;
      }

      .basicInfoBox {
        margin-top: 24px;
      }
      .nicknameInfoBox {
        margin-top: 24px;
      }
      .nickname {
        margin-top: 8px;
        margin-bottom: 100px;
      }
      .btn-wrap {
        position: fixed;
        bottom: 40px;
        max-width: 576px;
        width: 100%;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
