@charset "utf-8";
@import '../../styles/partials/mixin', '../../styles/partials/theme';

@mixin theme(
  $theme,
  $grayscale-1,
  $grayscale-2,
  $grayscale-3,
  $grayscale-4,
  $grayscale-5,
  $grayscale-6
) {
  [theme='#{$theme}'] {
    @include ThemeTransition;
    background-color: $grayscale-6;
    .signUp {
      display: flex;
      flex-direction: column;
      width: 100%;
      .form {
        padding-bottom: 120px;
      }
      fieldset {
        padding: 24px 24px 40px;
        h1 {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: 700;
          color: $grayscale-1;
        }
      }

      .container {
        flex: 1;
      }

      .btn-wrap {
        position: fixed;
        bottom: 40px;
        max-width: 576px;
        width: 100%;
      }
    }
  }
}

@each $theme, $grayscale-1, $grayscale-2, $grayscale-3, $grayscale-4,
  $grayscale-5, $grayscale-6 in $pallette
{
  @include theme(
    $theme,
    $grayscale-1,
    $grayscale-2,
    $grayscale-3,
    $grayscale-4,
    $grayscale-5,
    $grayscale-6
  );
}
